label {
    display: inline-block;
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
}

input {
    position: relative;
    cursor: pointer;
}

#chassis[type="checkbox"]:checked ~ .container .jet__chassis--front,
#chassis[type="checkbox"]:checked ~ .container .jet__chassis--left,
#chassis[type="checkbox"]:checked ~ .container .jet__chassis--right {
    transform: translate(-50%, 25px) rotateY(90deg);
    color: red;
    outline: 2px dashed red;
}
