@import url('./jet.css');
@import url('./controls.css');

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: black;
    color: #ccc;
}

h1 {
    margin: 0 auto;
    text-align: center;
}

.wrapper {
    position: relative;
    margin: auto;
    width: 1200px;
    height: 700px;
    background-image: url("../img/bg-small.jpg");
    background-size: cover;
    background-position: left center;
    background-repeat: repeat-x;
    font-family: Geometria, sans-serif;
    user-select: none;

    animation-name: scrollBg;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes scrollBg {
    0% {
        background-position: left center;
    }
    100% {
        background-position: -2262px center;
    }
}



